@import './styles/colors.css';
@import './App.css';
@import './components/Board/Board.css';
@import './components/Board/Cell/Cell.css';
@import './components/Button/Button.css';

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
